* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{ps1,[pP][sS]1} text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
pnpm-lock.yaml merge=union
